.app.dark {
    --bg-color: #0d0418;
    --inverted-bg-color: #f0edf3;
    --primary-color: #f0edf3;
    --secondary-color: rgb(176 129 197);
    --inverted-primary-color: #1c1b1d;
    --inverted-secondary-color: rgb(74 42 88);
}